.navbar {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  animation: gradientBackground 5s ease infinite;
  color: #fff;
}

.navbar nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid black;

}

.navbar img {
  height: 50px;
  width: auto;
}

.navbar nav a {
  color: rgb(5, 4, 4);
  font-size: 2rem;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: color 0.3s ease;
}

.navbar nav a:hover {
  color: #b3a19e;
}

@media (max-width: 768px) {
  .navbar nav {
    flex-direction: column;
  }

  .navbar nav a {
    text-align: center;
    padding: 0.5rem;
    width: 100%;
  }

  .navbar img {
    margin-bottom: 0.5rem;
  }
}

.navbar nav span {
  display: none;
}

@keyframes gradientBackground {
  0%, 25% {
    background: linear-gradient(to right, #1a1a1a, #ff0000);
  }
  25%, 50% {
    background: linear-gradient(to left, #1a1a1a, #00c3ff);
  }
  50%, 75% {
    background: linear-gradient(to right, #1a1a1a, #00ff8c);
  }
  75%, 100% {
    background: linear-gradient(to left, #1a1a1a, #a600ff);
  }
}